.results {
  display: flex;
  flex-direction: column;
  width: 43%;
  margin-top: 2rem;
  padding: 1rem 0.5rem 1rem 0;
  border-right: 1px solid rgba(128, 128, 128, 0.541);
}

.results__title {
  margin-bottom: 1rem;
}
.results__summary {
  text-align: left;
  font-weight: bold;
  font-size: 1.2rem;
  padding: 0.3rem 1rem;

  border-bottom: 2px solid salmon;
}

.results__cell {
  text-align: left;
  font-weight: bolder;
  font-size: 1rem;
  padding: 0.3rem 1rem;
}

table {
  width: 100%;
  margin-bottom: 20px;
  border: 5px solid #fff;
  border-top: 5px solid #fff;
  border-bottom: 3px solid #fff;
  border-collapse: collapse;
  outline: 3px solid salmon;
  font-size: 15px;
  background: #fff !important;
}
table th {
  font-weight: bold;
  padding: 7px;
  background: salmon;
  border: none;
  text-align: left;
  font-size: 15px;
  border-top: 3px solid #fff;
  border-bottom: 3px solid salmon;
  color: white;
}
table td {
  padding: 7px;
  border: none;
  border-top: 3px solid #fff;
  border-bottom: 3px solid #fff;
  font-size: 15px;
}

table tbody tr:nth-child(even) {
  background: #f8f8f8 !important;
}
