.results {
  display: flex;
  flex-direction: column;

  width: 40%;

  margin-top: 0.5rem;
  padding: 0.5rem 0.5rem 1rem 0;

  border-right: 1px solid rgba(128, 128, 128, 0.541);
}

.results .btn {
  margin-left: calc(50% - 100px);
}

.results__title {
  margin-bottom: 1rem;
}
.results__summary {
  padding: 0.3rem 1rem;

  border-bottom: 2px solid salmon;

  text-align: left;
  font-weight: bold;
  font-size: 1.2rem;
}

.results__cell {
  padding: 0.3rem 1rem;

  text-align: left;
  font-weight: bolder;
  font-size: 1rem;
}

.results__checkout {
  margin: 1rem 0;
  padding: 0.5rem 1rem;

  border: 2px solid salmon;
  border-radius: 0.3rem;

  text-align: center;
  font-weight: bold;
  font-size: 1.2rem;
}

@media screen and (max-width: 600px) {
  .results {
    width: 90%;
  }
}
