.drawing {
  margin-top: 1rem;
  width: 90%;
}

canvas {
  width: 100%;
  border: 1px solid salmon;
}

.drawing__body {
  display: flex;
  flex-direction: column;
}

.drawing__body p {
  font-weight: bolder;
}

.drawing__body-bottom {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

.drawing__body-bottom p {
  writing-mode: vertical-rl;
}
